@import "reset";

$pyramid-width: 700px;
$top-element: 25%;
$rectangles-quant: 7;
$decrease-step: 75% / ($rectangles-quant - 1);

html, body {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.body-cont {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px 10px;
}

.pyramid-cont {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pyramid {
  max-width: $pyramid-width;
  min-width: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  .pyramid-elem {
    border-radius: 3px;
    overflow: hidden;
    height: 50px;
    background-color: goldenrod;
    width: $top-element;
    color: whitesmoke;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:hover {
      &::before {
        width: 100%;
        transition: all .2s linear .4s;
        transform: scaleX(1);
      }
      &::after {
        width: 100%;
        transition: all .2s linear .8s;
        transform: scaleX(1);
      }
    }
    &::before {
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      background: black;
      transform: scaleX(0);
      transform-origin: 0 0;
    }
    &::after {
      bottom: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      background: black;
      transform: scaleX(0);
      transform-origin: 100% 0;
    }
  }
  span {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: black;
    font-family: Verdana, sans-serif;
    &:hover {
      &::before {
        height: 100%;
        transition: all 0.2s linear 1s;
        transform: scaleY(1);
      }
      &::after {
        height: 100%;
        transition: all 0.2s linear .6s;
        transform: scaleY(1);
      }
    }
    &::before {
      bottom: 0;
      left: 0;
      content: "";
      width: 2px;
      height: 100%;
      position: absolute;
      background: black;
      transform: scaleY(0);
      transform-origin: 0 100%;
    }
    &::after {
      top: 0;
      right: 0;
      content: "";
      width: 2px;
      height: 100%;
      position: absolute;
      background: black;
      transform: scaleY(0);
      transform-origin: 0 0;
    }
  }
}

[class^="sidebar"] {
  min-width: 50px;
  width: 10%;
  border-radius: 3px;
}

.sidebar-left {
  background-color: blue;
}

.sidebar-right {
  border: 1px solid blue;
}

@for $n from 2 to $rectangles-quant + 1 {
  .pyramid-elem:nth-child(#{$n}) {
    width: $top-element + $decrease-step * ($n - 1);
  }
}

.logo {
  width: 100%;
  padding: 20px;
  background: black;
  svg {
    width: 200px;
    height: auto;
  }
}

.the-link {
  width: 100%;
  padding: 20px;
  background-color: black;
  text-align: right;
  color: white;
  font-family: sans-serif;
  @media (max-width: 576px) {
    font-size: 12px;
    text-align: left;
  }
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
